
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Oxanium&display=swap');

:root {
	--dark-grey: rgb(45,49,51);
  --grey: rgb(74,79,82);
}


* {
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}

body {
  font-family: "Oxanium", sans-serif;
  font-weight: 400;
  margin: 0;
  height: 100vh;
  background-color: var(--grey);  
}

button:active {
  background-color: var(--grey);
}

button:hover {
  cursor: pointer;
}

header {
  background-color: var(--dark-grey);
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

header a {
  border-radius: 5px;
  color: white;
  font-size: clamp(1%, 3vw, 200%);
  padding: 1vw;
}

header a:hover {
  background-color: black;
}

header #themeButton{
  background-image: url(../images/themePIC.png);  
  background-color: inherit;
  background-position: center;
  background-size: cover;
  border: none;
  height: 40px;
  width: 40px;
}

/*##############################*/

#sectionIndex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;  
}

#sectionIndex section {
  max-width: 50%; 
  text-align: center;
}

#sectionIndex p {
  overflow-wrap: break-word;
  font-size: 40px;
  font-weight: bold;
}

/*##############################*/
#dashboardMain {
  font-size: 30px;
}

#dashboardMain section {
  height: 20%;  
  align-content: end;
  font-weight: bold;
  margin: 20px;
}


#dashboardMain label {
  display: flex; 
  align-items: center; 
}

#dashboardMain input {
  padding: 10px; 
  width: 75%; 
  height: 50px;
  color: black;
}

#dashboardMain figure {
  background-color: white;
  margin: 10px 0;
  padding: 10px 20px;
  border: 5px solid var(--dark-grey);
  border-radius: 5px;
}


#dashboardMain button {
  width: 100px; 
  height: 50px;
  font-size: 20px; 
  background-color: var(--dark-grey); 
}

#gallery figure{
  display: flex;
  justify-content: space-between;
}

#gallery p {
  color: var(--dark-grey);
}

#dashboardMain #welcomeMessage {
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 0;
}

#infoButton {
  color: white;
  background-color: #6a5acd !important;
  width: 50px !important;
  height: 50px !important;
  margin: 1% 0;
  border-radius: 50%;
  border: var(--dark-grey) solid 2px;
}

#deleteWarning {
  font-size: 15px;
  color: maroon !important;
}

#bookImage {
  width: 200px;
  height: 300px;
  border: 5px solid var(--dark-grey);
  background-color: var(--grey);
  color: white;
}

#noteParagraph {
  font-size: 20px;
}

#getRandomBookButton {
  margin: 1% 0;
  background-color: #6a5acd !important;
  border: 2px solid var(--dark-grey);
}

#addButton {
  background-color: #6a5acd !important;
  border: 2px solid var(--dark-grey);
}

/*##############################*/

#bookArticle figure {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 5px solid black;
  border-radius: 5px;
  padding: 1%;
}

#searchMain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1%;
}

#searchMain input {
  padding: 10px; 
  width: 75%; 
  height: 50px;
  border-radius: 10px;
  border: 3px solid var(--dark-grey);
  color: black;
}

#searchMain button {   
  height: 50px;
  border-radius: 10px;
  border: var(--dark-grey) solid 2px;
  background-color: black;
}

#bookArticle {
  display: flex;
  flex-flow: row wrap;
}

#bookArticle figure{
  width: 500px;
  background-color: var(--dark-grey);
}

#bookArticle button {
  align-self: center;
  justify-self: center;
  background-color: black;
  color: white;
  min-width: 80px;
  min-height: 60px;
  font-size: 20px;
  border-radius: 10px;
}

#booksParagraph {
  font-size: 30px;
}

/*##############################*/

#quoteParagraph {
  justify-self: center;
  align-self: center;
  align-content: center;
  font-size: 20px;
  color: blue;
  background-color: cornsilk;
  border-radius: 5px;
  padding: 3px;
}